.circle_line {
  position: relative;
  border-radius: 202px/202px;
  border: solid 2px #f00;
  width: 202px;
  height: 202px;
  margin-left: 100px;
}

.rotating_circle {
    position: absolute;
    border-radius: 5px/5px;
    border: solid 2px black;
    width: 1px;
    height: 1px;
    left: 200px;
    top: 100px;
}

.start_button {
  position: relative;
  float: left;
  margin-top: 10px;
}

.end_button {
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
}